<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit marks</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Update student marks!</h2>
    <form action="/students/<%= student._id %>?_method=PUT" method="POST" class="new-form">
        <label>Update Marks: </label>
        <input type="number" name="newMarks" value="<%= student.marks %>">
        <button type="submit">Update</button>
    </form>
</body>
</html>